.system-hud {

  position:absolute;

  top:30px;

  right:30px;


  width:230px;


  padding:20px;


  border-radius:20px;


  background:

    rgba(10,20,35,0.75);



  border:

    1px solid rgba(
      53,
      246,
      255,
      0.25
    );



  backdrop-filter:
    blur(14px);



  color:white;


  font-family:
    monospace;


  z-index:10;

}



.system-hud h3 {


  margin:0 0 18px;


  color:#35F6FF;


  letter-spacing:2px;

}



.metric {


  display:flex;


  justify-content:space-between;


  margin-top:12px;


  font-size:14px;

}



.metric span {

  color:#9aa8c5;

}



.metric strong {

  color:#35F6FF;

}



.bar {


  height:5px;


  width:100%;


  margin-top:6px;


  background:

    rgba(
      255,
      255,
      255,
      0.1
    );


  border-radius:10px;


  overflow:hidden;

}



.bar-fill {


  height:100%;


  background:

    linear-gradient(
      90deg,
      #00ffaa,
      #35f6ff
    );


  box-shadow:

    0 0 12px
    #35f6ff;


  transition:

    width .5s ease;

}



.system-hud p {


  margin-top:18px;


  color:#00ffaa;


  font-size:13px;

}