.sidebar {
    width: 260px;
    height: 100vh;
    padding: 28px;
    display: flex;
    flex-direction: column;

    background: rgba(255,255,255,.05);
    backdrop-filter: blur(25px);

    border-right: 1px solid rgba(255,255,255,.08);
}

.sidebar h1 {
    color: var(--primary);
    margin-bottom: 40px;
    font-size: 28px;
    letter-spacing: 1px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 14px;

    padding: 14px;

    color: white;
    text-decoration: none;

    border-radius: 14px;

    transition: .25s;

    font-size: 15px;
}

.nav-link:hover {
    background: rgba(255,255,255,.08);
    color: var(--primary);

    transform: translateX(6px);
}

.nav-link.active {
    background: rgba(0,255,255,.12);

    color: var(--primary);

    border: 1px solid rgba(0,255,255,.25);

    box-shadow:
        0 0 18px rgba(0,255,255,.15),
        inset 0 0 10px rgba(0,255,255,.08);
}

.profile {
    margin-top: auto;

    display: flex;

    align-items: center;

    gap: 12px;
}

.avatar {
    width: 48px;
    height: 48px;

    border-radius: 50%;

    background: var(--primary);

    color: black;

    display: flex;

    justify-content: center;

    align-items: center;

    font-weight: bold;

    box-shadow: 0 0 20px rgba(0,255,255,.35);
}

.profile p {
    color: #94A3B8;
    font-size: 13px;
}