.sidebar{

    width:260px;

    height:100vh;

    padding:28px;

    display:flex;

    flex-direction:column;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(25px);

    border-right:1px solid rgba(255,255,255,.08);

}

.sidebar h1{

    color:var(--primary);

    margin-bottom:40px;

    font-size:28px;

}

.sidebar nav{

    display:flex;

    flex-direction:column;

    gap:10px;

}

.sidebar button{

    display:flex;

    align-items:center;

    gap:14px;

    padding:14px;

    background:transparent;

    border:none;

    color:white;

    cursor:pointer;

    border-radius:14px;

    transition:.25s;

    font-size:15px;

}

.sidebar button:hover{

    background:rgba(255,255,255,.08);

    color:var(--primary);

    transform:translateX(6px);

}

.profile{

    margin-top:auto;

    display:flex;

    align-items:center;

    gap:12px;

}

.avatar{

    width:48px;

    height:48px;

    border-radius:50%;

    background:var(--primary);

    color:black;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:bold;

}

.profile p{

    color:#94A3B8;

    font-size:13px;

}